$bp-mobile: 320px;
$bp-tablet: 750px;
$bp-desktop: 1280px;

$slot-width: 66px;
$slot-height: 60px;
$slot-height-desktop: 52px;
$radius: 4px;

$color-lightsmoke: #F7F8F9;
$color-smoke: #E9ECEF;
$color-darksmoke: #D5DFE9;
$color-lightsilver: #98A9B9;
$color-silver: #858E98;
$color-darkgray: #262626;
$color-royalblue: #007DFF;
$color-midroyalblue: #1D54FE ;
$color-darkroyalblue: #1D00FE;
$color-garphite: #151515;
