.event-swap {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.event-swap__title {
  font-weight: bold;
}

.event-swap__time {
  margin-right: 5px;
  font-size: .9em;
  opacity: .8;
}

.event-swap__from-to {
  margin-top: 5px;
  display: flex;
  align-items: center;
  line-height: 1;
}

.event-swap__arrow {
  margin: 0 7px;
  font-weight: bold;
  font-size: 20px;
}
