<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" type="text/css" href="./assets/css/styles.min.css">
      <title>Яндекс Переговорки</title>
  </head>
  <body class="page page--create">
    <div style="display: none">
      {{> symbols}}
    </div>

    {{> page-header}}

    <main class="page-main">
      <form class="form form--event" action="./" method="post">
        <div class="form__inner">
          <h1 class="form__title">Новая встреча</h1>

          <button class="close-control form__close-control" formaction="/">
            <svg class="close-control__icon">
              <use xlink:href="#close"/>
            </svg>
          </button>

          <div class="form__group form__group--title">
            <label class="form__label" for="title">Тема</label>
            <input class="form__input" type="text" name="title" id="title" placeholder="О чём будете говорить?" data-group=".form__group--title">
          </div>

          {{> select-datetime}}

          {{> select-users}}

          {{> select-room}}
        </div>

        <div class="form__message form__message--create"></div>

        <footer class="form__footer form__footer--create">
          <button
            class="form__button form__button--cancel button"
            name="action" value="cancel"
            >Отмена</button>
          <button
            class="form__button form__button--create button button--blue" type="submit"
            name="action" value="create"
            >Создать встречу</button>
        </footer>
      </form>
    </main>

    {{> popup--remove-event}}

    <div class="templates" style="display: none">
      {{{eventUserTmpl}}}
      <ul>
        {{{eventRoomTmpl}}}
        {{{eventSwapTmpl}}}
      </ul>
    </div>

    <script>
      const pageData = {{{pageData}}};
    </script>
    <script src="./assets/js/common.js"></script>
  </body>
</html>
