<div class="popup popup--view-info">
  <div class="popup__arrow"></div>
  <div class="popup__content">
    <div class="event">
      <h4 class="event__title">[[title]]</h4>

      <div class="event__datetime">[[[date]]] · [[room]]</div>

      <div class="event__users">
        <span class="user">
          <img class="user__pic" alt="" src="[[[users.avatarUrl]]]" [[[users.avatarSrc]]]>
          [[users.login]]
        </span>

        [[#users.hasCount]]
        <span class="event__users-count">и [[users.count]]</span>
        [[/users.hasCount]]
      </div>

      <a href="[[url]]" class="event__edit-button">
        <svg class="event__edit-icon">
          <use xlink:href="#edit"/>
        </svg>
      </a>
    </div>
  </div>
</div>
