<div class="popup popup--users">
  <div class="popup__content">
    <ul class="select-users__list">
      {{#users}}
        <li class="select-users__item" data-searchtitle="{{login}}">
          <input
            class="select-users__input select-users__input--checkbox visuallyhidden"
            type="checkbox"
            name="usersIds"
            id="user--{{id}}"
            value="{{id}}"
            data-login="{{login}}"
            data-floor="{{homeFloor}}"
            data-avatar="{{avatarUrl}}"
            data-group=".form__group--users"
            {{isChecked}}>
          <label class="select-users__label" for="user--{{id}}" data-id="{{id}}">
            <span class="user user--tiny">
              <img class="user__pic user__pic--tiny" alt="" src="{{avatarUrl}}">
              {{login}} <span class="user__floor">{{homeFloor}} этаж</span>
            </span>
          </label>
        </li>
      {{/users}}
    </ul>
  </div>
</div>
