<li class="select-room__item">
  <input class="select-room__input select-room__input--radio visuallyhidden" type="radio" name="roomId" id="room--{{id}}" value="{{id}}" {{checked}}>
  <label class="select-room__label" for="room--{{id}}">
    <time class="select-room__time">{{event.timeStart}}—{{event.timeEnd}}</time>
    <span class="select-room__room">{{title}} · {{floor}} этаж</span>
  </label>

  <buton class="close-control select-room__close-control">
    <svg class="close-control__icon">
      <use xlink:href="#close"/>
    </svg>
  </buton>
</li>
